![NYC Skyline](img/nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many [Airbnb](https://www.airbnb.com/) listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this notebook, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

Our goals are to convert untidy data into appropriate formats to analyze, and answer key questions including:

- What is the average price, per night, of an Airbnb listing in NYC?
- How does the average price of an Airbnb listing, per month, compare to the private rental market?
- How many adverts are for private rooms?
- How do Airbnb listing prices compare across the five NYC boroughs?

In [4]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

In [5]:
#importing the data
airbnb_price = pd.read_csv('datasets/airbnb_price.csv')
airbnb_room_type = pd.read_excel('datasets/airbnb_room_type.xlsx')
airbnb_last_review = pd.read_csv('datasets/airbnb_last_review.tsv',sep='\t')

In [6]:
airbnb_price.head()
#we will need to clean up the price column and convert it into numeric field

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [7]:
airbnb_price["price"]=airbnb_price["price"].str.replace(" dollars","") #this code will replace ' dollars' string with '' 

 #convert string to numeric
airbnb_price["price"] = airbnb_price["price"].astype(int)

In [8]:
#checking to see the price data type is indeed an integer now
airbnb_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
listing_id     25209 non-null int64
price          25209 non-null int32
nbhood_full    25209 non-null object
dtypes: int32(1), int64(1), object(1)
memory usage: 492.5+ KB

In [9]:
airbnb_price.describe()

         listing_id         price
count  2.520900e+04  25209.000000
mean   2.068922e+07    141.777936
std    1.102928e+07    147.349137
min    2.595000e+03      0.000000
25%    1.202273e+07     69.000000
50%    2.234391e+07    105.000000
75%    3.037669e+07    175.000000
max    3.645581e+07   7500.000000

In [10]:
#removing free listings
airbnb_price = airbnb_price[airbnb_price['price']!=0]

In [11]:

avg_price = round(airbnb_price['price'].mean(),2)
print(avg_price)

141.82

In [12]:
airbnb_price.describe()

         listing_id         price
count  2.520200e+04  25202.000000
mean   2.068920e+07    141.817316
std    1.103081e+07    147.350650
min    2.595000e+03     10.000000
25%    1.202115e+07     69.000000
50%    2.234547e+07    105.000000
75%    3.037697e+07    175.000000
max    3.645581e+07   7500.000000

In [13]:
airbnb_price['price_per_month'] = airbnb_price['price']*365/12
average_price_per_month = round(airbnb_price['price_per_month'].mean(),2)
print(average_price_per_month)
difference = average_price_per_month - 3100
print(difference)
print(avg_price*365/12)

4313.61
1213.6099999999997
4313.691666666667

In [14]:
airbnb_room_type ['room_type'] = airbnb_room_type['room_type'].str.lower()

In [15]:
room_frequencies = airbnb_room_type['room_type'].value_counts()
room_frequencies

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [16]:
airbnb_last_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
listing_id     25209 non-null int64
host_name      25201 non-null object
last_review    25209 non-null object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [17]:

airbnb_last_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [20]:

airbnb_last_review["last_review"] = pd.to_datetime(airbnb_last_review["last_review"])

# Create first_reviewed, the earliest review date
first_reviewed = airbnb_last_review["last_review"].dt.date.min()

# Create last_reviewed, the most recent review date
last_reviewed = airbnb_last_review["last_review"].dt.date.max()

In [21]:
rooms_and_prices = airbnb_price.merge(airbnb_room_type,how ='outer',on = 'listing_id')

airbnb_merged = rooms_and_prices.merge(airbnb_last_review,how = 'outer', on = 'listing_id')

airbnb_merged.head()

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,entire home/apt,Jennifer,2019-05-21
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,entire home/apt,LisaRoxanne,2019-07-05
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,entire home/apt,Chris,2019-06-22
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,private room,Shunichi,2019-06-24
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,entire home/apt,Ben,2019-06-09

In [22]:
airbnb_merged.dropna(inplace = True)
airbnb_merged.duplicated().sum()

0

In [23]:
airbnb_merged.head()
airbnb_merged['borough'] = airbnb_merged['nbhood_full'].str.partition(',')[0]

In [24]:
airbnb_merged.head()

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review,borough
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,entire home/apt,Jennifer,2019-05-21,Manhattan
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,entire home/apt,LisaRoxanne,2019-07-05,Brooklyn
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,entire home/apt,Chris,2019-06-22,Manhattan
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,private room,Shunichi,2019-06-24,Manhattan
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,entire home/apt,Ben,2019-06-09,Manhattan

df.groupby("column_name").agg(["sum", "std"])

In [25]:
boroughs = airbnb_merged.groupby("borough")["price"].agg(['sum','mean','median','count']).reset_index()

In [26]:
boroughs = boroughs.round(2).sort_values('mean',ascending = False)
boroughs.head()

         borough        sum    mean  median  count
2      Manhattan  1898417.0  184.04   149.0  10315
1       Brooklyn  1275250.0  122.02    95.0  10451
3         Queens   320715.0   92.83    70.0   3455
4  Staten Island    22974.0   86.04    71.0    267
0          Bronx    55156.0   79.25    65.0    696

In [27]:
label_names = ['Budget','Average','Expensive','Extravagant']
ranges = [0,69,175,350,np.inf]

airbnb_merged["price_range"] = pd.cut(airbnb_merged["price"], bins=ranges, labels=label_names)

airbnb_merged.head()

,listing_id,price,nbhood_full,price_per_month,description,room_type,host_name,last_review,borough,price_range
0,2595,225.0,"Manhattan, Midtown",6843.750000,Skylit Midtown Castle,entire home/apt,Jennifer,2019-05-21,Manhattan,Expensive
1,3831,89.0,"Brooklyn, Clinton Hill",2707.083333,Cozy Entire Floor of Brownstone,entire home/apt,LisaRoxanne,2019-07-05,Brooklyn,Average
2,5099,200.0,"Manhattan, Murray Hill",6083.333333,Large Cozy 1 BR Apartment In Midtown East,entire home/apt,Chris,2019-06-22,Manhattan,Expensive
3,5178,79.0,"Manhattan, Hell's Kitchen",2402.916667,Large Furnished Room Near B'way,private room,Shunichi,2019-06-24,Manhattan,Average
4,5238,150.0,"Manhattan, Chinatown",4562.500000,Cute & Cozy Lower East Side 1 bdrm,entire home/apt,Ben,2019-06-09,Manhattan,Average

In [28]:
prices_by_borough = airbnb_merged.groupby(['borough','price_range'])['listing_id'].agg('count')

In [29]:
solution = {'avg_price':avg_price,
            'average_price_per_month': average_price_per_month,  
            'difference':difference,          
            'room_frequencies':room_frequencies, 
            'first_reviewed': first_reviewed,
            'last_reviewed': last_reviewed,
            'prices_by_borough':prices_by_borough}
print(solution)

{'avg_price': 141.82, 'average_price_per_month': 4313.61, 'difference': 1213.6099999999997, 'room_frequencies': entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64, 'first_reviewed': datetime.date(2019, 1, 1), 'last_reviewed': datetime.date(2019, 7, 9), 'prices_by_borough': borough        price_range
Bronx          Budget          381
               Average         285
               Expensive        25
               Extravagant       5
Brooklyn       Budget         3194
               Average        5532
               Expensive      1466
               Extravagant     259
Manhattan      Budget         1148
               Average        5285
               Expensive      3072
               Extravagant     810
Queens         Budget         1631
               Average        1505
               Expensive       291
               Extravagant      28
Staten Island  Budget          124
               Average         123
               Expensive        20
Name: listing_id, dtype: int64}